.inner{
    display: flex;
    background: white;
    height: 100vh;
}

.panel {
    display: flex;
    flex-direction: column;
    background: #222935;
    width: 260px;
    height: 100%;
    text-align: center;
    color: #667081;
}

Button {
    background-color: #222935;
    color: white;
    border: none;
    cursor: pointer;
}

.hide-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

::-webkit-scrollbar { width: 0;}

.photo-box{
    color: #FFFFFF;
}

.inner .avatar{
    height: 163px;
    width: 163px;
    transition: width 0.5s, height 0.5s;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    margin-top: 25px;
}

.inner h1{
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 1px;
}

nav{
    display: flex;
    flex-direction: row;
}

.list, .list-svg{
    display: flex;
    font-family: FontAwesome;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 18px 20px 18px 20px;
    gap: 30px;
}

.list li {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: baseline;
}

li:hover {
    color:aquamarine;
    cursor: pointer;
}
li.active {
    color: #26C17E;
}

li svg {
    scale: 1.3;
}

.inner-btn {
    background-color: #222935;
    border-radius: 8px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: auto;
    margin-right: 5px;
}

.content{
    display: flex;
    flex: 1 1;
    overflow: auto;
    flex-direction: column;
    padding: 30px;
    padding-left: 10px;
    padding-top: 10px;
    gap: 30px;
    color: #26C17E;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.timeline .loading {
    position: relative;
    margin-top: 150px;
    text-align: center;
    overflow-y: auto;
    color: #26C17E;
    transform: scale(2);
}

.description {
    white-space: pre-wrap;
}

.timeline-event{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.event-date{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    height: 100%;
}

.event-line{
    display:flex;
    align-items: center;
    height: 100%;
}

.line{
    border-left: 5px solid #26C17E;
    height: 100%;
}

.event-details{
    
    background-color: #EEEEEE;
    padding-left: 15px;
    width: 100vh;
    min-height: 157px;
}

.event-triangle { 
    content: '';
    border: 13px solid;
    border-color: transparent #EEEEEE transparent transparent;
    position: relative;
}

.expertise{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.experience{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skill-graph{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-level{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #26C17E;
}

.skill-type{
    padding-left: 15px;
    color: #FFFFFF;
}

.skills-btn{
    background-color: #222935;
    border-radius: 8px;
    height: 35px;
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 1px;
    left: 100%;
    position: sticky;
}

.scale {
    display: flex;
    height: 10px;
    margin-top: 10px;
    border-bottom: groove;
    border-left-style: groove;
    border-right-style: groove 
}

.scale :first-child,
.scale :last-child
 {
  flex: 0 0 22.5%;
}
.scale :nth-child(2){
    border-left-style: groove;
    border-right-style: groove;
    flex: 0 0 55%;
}

.scale-name{
    display: flex;
    justify-items: center;
    overflow: hidden;
}

.scale-name :nth-child(2)
{
    left: -29px;
    position: relative;
    flex: 0 0 27.5%;
}
.scale-name :nth-child(3)
{
    left: 25px;
    position: relative;
    flex: 0 0 27.5%;
    text-align: end;
}
.scale-name :first-child{
    justify-self:start;
    flex: 0 0 22.5%;
}
.scale-name :last-child{
    justify-self:end;
    text-align: end;
    flex: 0 0 22.5%;
}

.place{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    gap: 5px;
    flex: 0 0 18%;
}

.company{
    font-weight: bold;
}

.job{
    font-weight: bold;
}

.portfolio-btn{
    display: flex;
    gap: 5px;
    list-style: none;
    color: black;
    padding: 0;
}

.grid{
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap
}

.grid-item h3{
    margin: 0;
}

.grid-item{
    position: relative;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 310px;
    height: 190px;
}

.img-content{
    opacity:0;
    position:absolute;
    padding: 11px;
    height: 100%;
    background-color: #FFFFFF;
}

.img-content a{
    text-decoration: #26C17E underline;
    color:#26C17E 
}

.portfolio-img{
    width: 310px;
    height: 190px;
    animation: slidein 2s; 
}

.img-content:hover{
    opacity: 0.8;
    animation: pop 0.2s linear;
    position: absolute; 
}

@keyframes pop {
    from{
        transform: translateY(10%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: opacity ease-in-out;
    }
}

.filter-btn{
    cursor: pointer;
}

.filter-btn:active{
    color: #26C17E;
}

.contacts-links{
    color: black;
    font-weight: bold;
}

.contacts-links p:nth-child(1) a,
.contacts-links p:nth-child(2) a{
    color:black;
    font-weight: bold;
}

.contacts-links svg{
    color: #26C17E;
    scale: 1.8;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #667081;
    font-weight: 400;
}

.info-wrapper{
    color: black;
}

.feedback-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-item{
    display: flex;
    flex-direction: column;
}

.feedback-details{
    background-color: #EEEEEE;
    padding: 20px;
}

.reporter{
    display: flex;
    align-items: center;
    gap: 10px
}

.reporter img{
    width: 60px;
    height: 60px;
    border-radius: 45px;
}

.feedback-site{
    color: #26C17E;
}

.scroll-btn{
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 40px;
    height: 35px;
    background-color: #222935;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    ul.list, .photo-box h1{
        display: none;
        transition: display 0.5s;
    }

    .panel{
        width: 80px;
        transition: width 0.5s;
    }

    .inner .avatar{
        height: 63px;
        width: 63px;
        transition: width 0.5s, height 0.5s;
        margin-top: 15px;
    }

    .list-svg{
    flex: 1 1;
    align-items: center;
    }

    .inner-btn{
        margin-right: 0;
        padding: 0;
    }
}

.skills-form {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #26C17E;
    border-radius: 8px;
    margin-bottom: 20px;
  }
.form {
    display: flex;
    flex-direction: column;
}
.block, .error {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black
}
.form-button {
    height: 25px;
    width: 65px;
    margin: 10px;
    border-radius: 5px;
    border: 2px gray;
}
.form-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.error {
    border: 2px solid red;
} 
.error-message {
    color: red;
}